body {
    background-color: rgb(161, 110, 110);

}

.card {

}



.cabecalho {
    display: flex;
    background-color: hwb(0 16% 81%);
    justify-content: space-between;
    padding: 20px;

}

.cabecalho .turma{
    color: green;
}

.cabecalho .nome{
    color: aliceblue;
    font-size: 32px;
}

.cabecalho .logo {
    height: 140px;
    font-size: 20px;
}

.conteudo .foto{
    width: 240px;
}
